body {
    background-color: #383A3F;
    font-family: monospace;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    color: #fff;
}

h2 {
    font-size: 18px;
    text-align: center;
    color: #fff;
}

.pagination {
    display: flex;
    font-size: 25px;
    font-weight: bolder;
    justify-content: center;
}

.pagination-text, .pagination-arrow {
    display: block; 
    padding: 8px 12px; 
    background-color: #f8f6f6; 
    border: 1px solid #ccc; 
    text-decoration: none; 
    color: #333; 
    width: 26px;
    text-align: center;
}

.pagination-arrow {
    color: #797979;
}

.pagination-text.active {
    background-color: #4caf50;
    border: 1px solid #3a853c;
    color: #fff; 
}

.pagination-arrow.active {
    color: #4caf50;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    padding: 10px;
    row-gap: 25px;
    column-gap: 20px;
}


.box-student {
    display: block;
    border-radius: 20px;
    background-color: #1F2124;
    padding: 5px;
    box-shadow: 0 0 20px #00000066;
    max-width: 500px;
    width: 30vw;
    margin: 0 auto;
}

.box-student > img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.box-student > p {
    margin: 0;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 5px;
    padding-left: 5px;
}